.container-fluid{

  height: 100%;
}
.input-wrapper {
    font-style: normal;
}

.example-full-width {
    width: 100%;
}

.headers {

    font-family: 'Roboto';

}
.btn-wrapper{

}
.btn-lg{
  width: 150px;
  font-size: -webkit-x-large;

}
.me{
  width: 70%
}


