<div class="page-wrapper">
    <div class="top-landing">
        <div style="padding: 150px 0;">
            <div class="landing-app-name animated bounceInDown animate__delay-4s">Todo App</div>
            <div class="landing-intro">Create task and set reminders on events and daily activities.</div>
            <button mat-raised-button color="primary" class="btn-start click-animations" (click)="onStartButtonClicked()">
        <i class="ti ti-arrow-top-right" style="font-weight: bolder;"></i> &nbsp; Get Started
      </button>
        </div>
    </div>
</div>